{
  "openapi": "3.0.3",
  "info": {
    "title": "SPCTT 2026 Conference REST API",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.spctt.org",
      "description": "Live Production API Server (https://api.spctt.org)"
    },
    {
      "url": "http://localhost:5000",
      "description": "Local Development Server (http://localhost:5000)"
    },
    {
      "url": "/",
      "description": "Current Server (Auto Protocol & Host)"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter your JWT token (e.g. `eyJhbGciOi...`)"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 1
          },
          "title": {
            "type": "string",
            "enum": [
              "Mr.",
              "Ms.",
              "Mrs.",
              "Dr.",
              "Prof."
            ],
            "example": "Mr."
          },
          "name": {
            "type": "string",
            "example": "Vivek Tiwari"
          },
          "email": {
            "type": "string",
            "example": "tvivek2021@gmail.com"
          },
          "organization": {
            "type": "string",
            "example": "Oakyweb"
          },
          "phone": {
            "type": "string",
            "example": "+91 1234 567 890"
          },
          "role": {
            "type": "string",
            "enum": [
              "admin",
              "user",
              "manager"
            ],
            "example": "user"
          },
          "address": {
            "type": "string",
            "example": "1 Primrose Street"
          },
          "city": {
            "type": "string",
            "example": "Alloa"
          },
          "state": {
            "type": "string",
            "example": "Delhi"
          },
          "country": {
            "type": "string",
            "example": "India"
          },
          "pincode": {
            "type": "string",
            "example": "110001"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "inactive",
              "banned"
            ],
            "example": "active"
          }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "required": [
          "title",
          "fullName",
          "email",
          "organization",
          "password"
        ],
        "properties": {
          "title": {
            "type": "string",
            "enum": [
              "Mr.",
              "Ms.",
              "Mrs.",
              "Dr.",
              "Prof."
            ],
            "example": "Mr."
          },
          "fullName": {
            "type": "string",
            "example": "Vivek Tiwari"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "tvivek2021@gmail.com"
          },
          "organization": {
            "type": "string",
            "example": "Oakyweb"
          },
          "phone": {
            "type": "string",
            "example": "+91 1234 567 890"
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "Password@123"
          },
          "repeatPassword": {
            "type": "string",
            "format": "password",
            "example": "Password@123"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "tvivek2021@gmail.com"
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "Password@123"
          }
        }
      },
      "AdminLoginRequest": {
        "type": "object",
        "required": [
          "email",
          "password"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "admin@spctt.org"
          },
          "password": {
            "type": "string",
            "format": "password",
            "example": "Admin@123"
          }
        }
      },
      "Step1CategoryRequest": {
        "type": "object",
        "properties": {
          "categoryId": {
            "type": "integer",
            "example": 2
          },
          "categoryCode": {
            "type": "string",
            "example": "NON_MEMBERS"
          }
        }
      },
      "Step2AttendeeRequest": {
        "type": "object",
        "required": [
          "fullName",
          "email",
          "organization",
          "address",
          "city",
          "state",
          "country"
        ],
        "properties": {
          "title": {
            "type": "string",
            "example": "Mr."
          },
          "fullName": {
            "type": "string",
            "example": "Vivek Tiwari"
          },
          "email": {
            "type": "string",
            "example": "tvivek2021@gmail.com"
          },
          "organization": {
            "type": "string",
            "example": "Oakyweb"
          },
          "phone": {
            "type": "string",
            "example": "+91 1234 567 890"
          },
          "address": {
            "type": "string",
            "example": "1 Primrose Street, Street Address Line 2"
          },
          "city": {
            "type": "string",
            "example": "Alloa"
          },
          "state": {
            "type": "string",
            "example": "Delhi"
          },
          "country": {
            "type": "string",
            "example": "United Kingdom"
          },
          "pincode": {
            "type": "string",
            "example": "FK10 1JJ"
          }
        }
      },
      "Step3AccompanyingRequest": {
        "type": "object",
        "required": [
          "count"
        ],
        "properties": {
          "count": {
            "type": "integer",
            "example": 1
          },
          "accompanyingPersons": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string",
                  "example": "Mrs."
                },
                "fullName": {
                  "type": "string",
                  "example": "Anjali Tiwari"
                }
              }
            }
          }
        }
      },
      "Step4BillingRequest": {
        "type": "object",
        "properties": {
          "entityName": {
            "type": "string",
            "example": "Oakyweb Technologies Pvt Ltd"
          },
          "entityAddress": {
            "type": "string",
            "example": "Level 4, Tech Park, New Delhi"
          },
          "gstNumber": {
            "type": "string",
            "example": "07AAAAA0000A1Z5"
          },
          "panNumber": {
            "type": "string",
            "example": "ABCDE1234F"
          }
        }
      },
      "PaymentRequest": {
        "type": "object",
        "properties": {
          "registrationId": {
            "type": "integer",
            "example": 1
          },
          "paymentMethod": {
            "type": "string",
            "example": "Axis Razorpay (Elisyan India)"
          },
          "transactionId": {
            "type": "string",
            "example": "PAY_1726650000_1234"
          }
        }
      },
      "CreateOrderRequest": {
        "type": "object",
        "properties": {
          "registrationId": {
            "type": "integer",
            "example": 1,
            "description": "Optional registration ID (defaults to current user's draft registration)"
          }
        }
      },
      "PaymentProcessRequest": {
        "type": "object",
        "properties": {
          "registrationId": {
            "type": "integer",
            "example": 1
          },
          "paymentMethod": {
            "type": "string",
            "example": "Axis Razorpay (Elisyan India)"
          },
          "transactionId": {
            "type": "string",
            "example": "PAY_1726650000_9876"
          }
        }
      },
      "PaymentVerifyRequest": {
        "type": "object",
        "properties": {
          "registrationId": {
            "type": "integer",
            "example": 1
          },
          "razorpayPaymentId": {
            "type": "string",
            "example": "pay_O7s8xYzAbc123"
          },
          "razorpayOrderId": {
            "type": "string",
            "example": "order_O7s8xYzAbc123"
          },
          "razorpaySignature": {
            "type": "string",
            "example": "9ef8...7bc1"
          },
          "transactionId": {
            "type": "string",
            "example": "PAY_1726650000_9876"
          }
        }
      },
      "ForgotPasswordRequest": {
        "type": "object",
        "required": ["email"],
        "properties": {
          "email": {
            "type": "string",
            "example": "tvivek2021@gmail.com"
          }
        }
      },
      "VerifyResetTokenRequest": {
        "type": "object",
        "required": ["token"],
        "properties": {
          "token": {
            "type": "string",
            "example": "a1b2c3d4e5f67890abcdef1234567890abcdef1234567890abcdef1234567890"
          }
        }
      },
      "ResetPasswordRequest": {
        "type": "object",
        "required": ["token", "newPassword"],
        "properties": {
          "token": {
            "type": "string",
            "example": "a1b2c3d4e5f67890abcdef1234567890abcdef1234567890abcdef1234567890"
          },
          "newPassword": {
            "type": "string",
            "example": "newStrongPassword123"
          },
          "confirmPassword": {
            "type": "string",
            "example": "newStrongPassword123"
          }
        }
      },
      "UserProfileUpdateRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "enum": ["Mr.", "Ms.", "Mrs.", "Dr.", "Prof."],
            "example": "Dr."
          },
          "name": {
            "type": "string",
            "example": "Dr. Vivek Tiwari"
          },
          "organization": {
            "type": "string",
            "example": "SPCTT Institute of Cardiac Sciences"
          },
          "phone": {
            "type": "string",
            "example": "+91 9876543210"
          },
          "address": {
            "type": "string",
            "example": "Medical Enclave, Block B"
          },
          "city": {
            "type": "string",
            "example": "New Delhi"
          },
          "state": {
            "type": "string",
            "example": "Delhi"
          },
          "country": {
            "type": "string",
            "example": "India"
          },
          "pincode": {
            "type": "string",
            "example": "110029"
          },
          "avatar": {
            "type": "string",
            "example": "https://example.com/avatar.jpg"
          }
        }
      },
      "AdminUpdateUserRequest": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "enum": ["Mr.", "Ms.", "Mrs.", "Dr.", "Prof."],
            "example": "Mr."
          },
          "name": {
            "type": "string",
            "example": "Vivek Tiwari"
          },
          "email": {
            "type": "string",
            "example": "tvivek2021@gmail.com"
          },
          "phone": {
            "type": "string",
            "example": "+91 9876543210"
          },
          "organization": {
            "type": "string",
            "example": "Oakyweb"
          },
          "role": {
            "type": "string",
            "enum": ["user", "manager", "admin"],
            "example": "user"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "banned"],
            "example": "active"
          },
          "address": {
            "type": "string",
            "example": "Medical Enclave, Block B"
          },
          "city": {
            "type": "string",
            "example": "New Delhi"
          },
          "state": {
            "type": "string",
            "example": "Delhi"
          },
          "country": {
            "type": "string",
            "example": "India"
          },
          "pincode": {
            "type": "string",
            "example": "110029"
          }
        }
      },
      "AbstractSubmissionRequest": {
        "type": "object",
        "required": [
          "name",
          "instituteName",
          "category",
          "email",
          "phone",
          "topic"
        ],
        "properties": {
          "name": {
            "type": "string",
            "example": "Dr. Vivek Tiwari"
          },
          "instituteName": {
            "type": "string",
            "example": "All India Institute of Medical Sciences"
          },
          "category": {
            "type": "string",
            "enum": ["Poster", "Oral"],
            "example": "Poster"
          },
          "email": {
            "type": "string",
            "example": "vivek@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+91 9876543210"
          },
          "topic": {
            "type": "string",
            "example": "Advancements in Pediatric Cardiopulmonary Techniques"
          },
          "abstractText": {
            "type": "string",
            "example": "Detailed abstract content describing objectives, methodology, results, and conclusions..."
          },
          "pdf": {
            "type": "string",
            "format": "binary",
            "description": "PDF Document file upload"
          },
          "image": {
            "type": "string",
            "format": "binary",
            "description": "Image file upload (JPG, PNG, WEBP)"
          }
        }
      },
      "ApiResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Operation completed successfully"
          },
          "data": {
            "type": "object"
          }
        }
      }
    }
  },
  "paths": {
    "/api/auth/register": {
      "post": {
        "tags": [
          "🌐 User Authentication (Website)"
        ],
        "summary": "User Registration / Create an Account",
        "description": "Register a new user account with title, full name, email, organization, mobile number, and password.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created successfully"
          },
          "409": {
            "description": "Email already registered"
          },
          "422": {
            "description": "Validation error"
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "🌐 User Authentication (Website)"
        ],
        "summary": "User Sign In",
        "description": "Sign in user with email and password to receive JWT bearer token.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful"
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/api/auth/admin/login": {
      "post": {
        "tags": [
          "🛡️ Admin Authentication"
        ],
        "summary": "Admin Sign In",
        "description": "Authenticate administrator to access Admin Management Portal.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Admin login successful"
          },
          "403": {
            "description": "Access denied"
          }
        }
      }
    },
    "/api/user/profile": {
      "get": {
        "tags": [
          "👤 User Portal - Profile & Account (Website)"
        ],
        "summary": "Get User Profile",
        "description": "Retrieve full profile information of the currently authenticated user.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile data"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "put": {
        "tags": [
          "👤 User Portal - Profile & Account (Website)"
        ],
        "summary": "Update User Profile",
        "description": "Update name, title, organization, phone number, address, city, state, country, pincode, or avatar.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfileUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully"
          },
          "400": {
            "description": "No fields provided to update"
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/api/registration/categories": {
      "get": {
        "tags": [
          "👤 User Portal - Registration Flow (Website)"
        ],
        "summary": "Get Registration Categories & Fees",
        "description": "Retrieve available registration categories with pricing (SPCTT Members, Non-Members, Fellows, Nurses, Industry Delegates, Accompanying Persons).",
        "responses": {
          "200": {
            "description": "List of categories retrieved"
          }
        }
      }
    },
    "/api/registration/current": {
      "get": {
        "tags": [
          "👤 User Portal - Registration Flow (Website)"
        ],
        "summary": "Get Current User Registration Status",
        "description": "Get draft or submitted registration details of the logged-in user.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User registration fetched successfully"
          }
        }
      }
    },
    "/api/registration/step1-category": {
      "post": {
        "tags": [
          "👤 User Portal - Registration Flow (Website)"
        ],
        "summary": "Step 1: Select Category",
        "description": "Save selected category for conference registration.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Step1CategoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Category saved successfully"
          }
        }
      }
    },
    "/api/registration/step2-attendee": {
      "post": {
        "tags": [
          "👤 User Portal - Registration Flow (Website)"
        ],
        "summary": "Step 2: Save Attendee Details & Contact Information",
        "description": "Save attendee profile, organization, phone, address, city, state, country, and pincode.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Step2AttendeeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Attendee details saved successfully"
          }
        }
      }
    },
    "/api/registration/step3-accompanying": {
      "post": {
        "tags": [
          "👤 User Portal - Registration Flow (Website)"
        ],
        "summary": "Step 3: Optional Item(s) Registration (Accompanying Persons)",
        "description": "Register accompanying persons (1, 2, or 0) with their titles and names at ₹3,500 each.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Step3AccompanyingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Accompanying persons saved successfully"
          }
        }
      }
    },
    "/api/registration/step4-billing": {
      "post": {
        "tags": [
          "👤 User Portal - Registration Flow (Website)"
        ],
        "summary": "Step 4: Save Billing Details & Generate Proforma Invoice",
        "description": "Save billing entity name, entity address, GST & PAN numbers, and calculate 18% GST Proforma Invoice.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Step4BillingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing details saved and proforma invoice generated"
          }
        }
      }
    },
    "/api/registration/payment": {
      "post": {
        "tags": [
          "👤 User Portal - Registration Flow (Website)"
        ],
        "summary": "Make Payment (Axis Razorpay)",
        "description": "Process conference payment, mark registration as confirmed, and generate official tax invoice and receipt.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment successful and registration confirmed"
          }
        }
      }
    },
    "/api/registration/invoices": {
      "get": {
        "tags": [
          "📑 User Portal - Invoices & Receipts (Website)"
        ],
        "summary": "Get User Invoices & Receipts",
        "description": "Retrieve all proforma invoices, tax invoices, and payment receipts of current user.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of invoices retrieved"
          }
        }
      }
    },
    "/api/registration/invoices/{id}": {
      "get": {
        "tags": [
          "📑 User Portal - Invoices & Receipts (Website)"
        ],
        "summary": "Get Single Invoice / Receipt By ID",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Invoice details retrieved"
          }
        }
      }
    },
    "/api/abstracts": {
      "post": {
        "tags": [
          "📝 User Portal - Abstract Submission (Website)"
        ],
        "summary": "Submit Abstract",
        "description": "Submit a research abstract for SPCTT 2026 conference presentation.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AbstractSubmissionRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AbstractSubmissionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Abstract submitted successfully"
          }
        }
      }
    },
    "/api/abstracts/my": {
      "get": {
        "tags": [
          "📝 User Portal - Abstract Submission (Website)"
        ],
        "summary": "View My Submitted Abstracts",
        "description": "Retrieve list of all abstracts submitted by the current user.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Abstracts list retrieved"
          }
        }
      }
    },
    "/api/user/profile": {
      "get": {
        "tags": [
          "👤 User Portal - Profile (Website)"
        ],
        "summary": "Get User Profile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile data"
          }
        }
      },
      "put": {
        "tags": [
          "👤 User Portal - Profile (Website)"
        ],
        "summary": "Update User Profile",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Dr."
                  },
                  "name": {
                    "type": "string",
                    "example": "Vivek Tiwari"
                  },
                  "organization": {
                    "type": "string",
                    "example": "Oakyweb"
                  },
                  "phone": {
                    "type": "string",
                    "example": "+91 1234 567 890"
                  },
                  "address": {
                    "type": "string",
                    "example": "1 Primrose Street"
                  },
                  "city": {
                    "type": "string",
                    "example": "Alloa"
                  },
                  "state": {
                    "type": "string",
                    "example": "Delhi"
                  },
                  "country": {
                    "type": "string",
                    "example": "United Kingdom"
                  },
                  "pincode": {
                    "type": "string",
                    "example": "FK10 1JJ"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Profile updated successfully"
          }
        }
      }
    },
    "/api/admin/dashboard-stats": {
      "get": {
        "tags": [
          "🛡️ Admin Portal - Dashboard & Analytics"
        ],
        "summary": "Get Admin Dashboard Overview",
        "description": "Total registrations, total revenue, abstracts count, and recent activity.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Dashboard statistics"
          }
        }
      }
    },
    "/api/admin/registrations": {
      "get": {
        "tags": [
          "🛡️ Admin Portal - Registration Management"
        ],
        "summary": "Get All Registrations",
        "description": "Filter registrations by status, payment_status, or search query.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "payment_status",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Registrations list"
          }
        }
      }
    },
    "/api/admin/registrations/{id}/status": {
      "put": {
        "tags": [
          "🛡️ Admin Portal - Registration Management"
        ],
        "summary": "Update Registration & Payment Status",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "draft",
                      "submitted",
                      "confirmed",
                      "cancelled"
                    ]
                  },
                  "paymentStatus": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "paid",
                      "failed",
                      "refunded"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Registration status updated"
          }
        }
      }
    },
    "/api/admin/abstracts": {
      "get": {
        "tags": [
          "🛡️ Admin Portal - Abstract Review"
        ],
        "summary": "Get All Submitted Abstracts",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Abstracts list with submitter details"
          }
        }
      }
    },
    "/api/admin/abstracts/{id}/status": {
      "put": {
        "tags": [
          "🛡️ Admin Portal - Abstract Review"
        ],
        "summary": "Review and Update Abstract Status",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "status"
                ],
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "submitted",
                      "under_review",
                      "accepted",
                      "rejected"
                    ]
                  },
                  "reviewComments": {
                    "type": "string",
                    "example": "Accepted for oral presentation."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Abstract status updated"
          }
        }
      }
    },
    "/api/admin/invoices": {
      "get": {
        "tags": [
          "🛡️ Admin Portal - Invoices & Users"
        ],
        "summary": "Get All Generated Invoices",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "All invoices retrieved"
          }
        }
      }
    },
    "/api/admin/users": {
      "get": {
        "tags": [
          "🛡️ Admin Portal - Invoices & Users"
        ],
        "summary": "Get All Users",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "All users list"
          }
        }
      }
    },
    "/api/admin/users/{id}": {
      "get": {
        "tags": [
          "🛡️ Admin Portal - Invoices & Users"
        ],
        "summary": "Get Single User by ID",
        "description": "Fetch user details by ID for administrative review or editing.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "User ID"
          }
        ],
        "responses": {
          "200": {
            "description": "User details retrieved successfully"
          },
          "404": {
            "description": "User not found"
          }
        }
      },
      "put": {
        "tags": [
          "🛡️ Admin Portal - Invoices & Users"
        ],
        "summary": "Update User Details (Admin)",
        "description": "Allows an administrator to edit a user's title, name, email, phone, organization, role (user/manager/admin), status (active/inactive/banned), address, and optionally reset their password.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "User ID to update"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminUpdateUserRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User updated successfully"
          },
          "400": {
            "description": "No fields provided to update"
          },
          "404": {
            "description": "User not found"
          },
          "409": {
            "description": "Email address already in use by another account"
          },
          "422": {
            "description": "Validation error"
          }
        }
      },
      "delete": {
        "tags": [
          "🛡️ Admin Portal - Invoices & Users"
        ],
        "summary": "Delete User by ID",
        "description": "Permanently deletes a registered user and all associated registrations, abstracts, and invoices from the database.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "User ID to delete"
          }
        ],
        "responses": {
          "200": {
            "description": "User and associated records deleted successfully"
          },
          "400": {
            "description": "Invalid user ID or cannot delete self"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden: Requires Admin Role"
          },
          "404": {
            "description": "User not found"
          }
        }
      }
    },
    "/api/payment/create-order": {
      "post": {
        "tags": [
          "💳 Payment & Transactions"
        ],
        "summary": "Create Payment Order / Intent",
        "description": "Initializes a payment order with total calculation, breakdown, and unique order ID for gateway checkout.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment order generated successfully"
          },
          "400": {
            "description": "Registration already paid"
          },
          "404": {
            "description": "No active registration found"
          }
        }
      }
    },
    "/api/payment/process": {
      "post": {
        "tags": [
          "💳 Payment & Transactions"
        ],
        "summary": "Process & Confirm Payment",
        "description": "Completes payment transaction, updates registration status to 'confirmed', marks payment status as 'paid', and generates official tax invoice receipt.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentProcessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment confirmed and receipt generated"
          },
          "404": {
            "description": "Registration record not found"
          }
        }
      }
    },
    "/api/payment/verify": {
      "post": {
        "tags": [
          "💳 Payment & Transactions"
        ],
        "summary": "Verify Gateway Payment Signature",
        "description": "Verifies payment transaction/signature from gateway (e.g. Razorpay/Axis Bank) and confirms registration.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment successfully verified"
          },
          "404": {
            "description": "Registration not found"
          }
        }
      }
    },
    "/api/payment/status": {
      "get": {
        "tags": [
          "💳 Payment & Transactions"
        ],
        "summary": "Get Current User Payment Status",
        "description": "Returns current delegate's payment status, transaction ID, payment method, and associated invoices/receipts.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Payment status retrieved successfully"
          }
        }
      }
    },
    "/api/payment/history": {
      "get": {
        "tags": [
          "💳 Payment & Transactions"
        ],
        "summary": "Get User Payment & Invoice History",
        "description": "Retrieves full history of invoices and receipts generated for the logged-in user.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Payment history retrieved successfully"
          }
        }
      }
    },
    "/api/payment/details/{registrationId}": {
      "get": {
        "tags": [
          "💳 Payment & Transactions"
        ],
        "summary": "Get Payment Breakdown Details",
        "description": "Retrieves comprehensive fee breakdown (base category, accompanying persons, GST, grand total) and proforma invoices for a registration.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "registrationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Registration ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment details retrieved"
          },
          "403": {
            "description": "Forbidden: Access denied"
          },
          "404": {
            "description": "Registration not found"
          }
        }
      }
    }
  }
}